<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cambiar foto de perfil</title>
    <link rel="stylesheet" href="../css/cambiarFoto.css">
</head>
<body>
  
    <%include header%>

    <div class="content">
        <div class="box_div">
            <div class="foto">
                <div id="boxF" data-id="<%=user._id%>" class="boxF"></div>
            </div>
            <div class="formulario">
                <form id="form" enctype="multipart/form-data">
                    <div class="in_file">
                        <input class="input" type="file" id="image" name="file">
                        <p>Subir foto</p>
                    </div>
                    <div class="preView-img" id="preView-img"></div>
                    
                    <button type="submit" id="btn">Cambiar</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        
    </script>

    <script src="../js/showFiles.js"></script>
    <script src="../js/change_img_profile.js"></script>
</body>
</html>