<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comentarios</title>
    
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/comments.css">
    <link rel="stylesheet" href="../css/view_img.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <%include header%>

    <div id="off" class="container">
        <div data-id="<%=posts.id%>" data-id_m="<%=user.id%>" class="postSave"  id="container"></div>
    
        <div class="coment">
            <div class="divForm">
                <form id="formComment" enctype="multipart/form-data">
                    <div class="input_comment">
                        <textarea id="comentario" required placeholder="Escribe un comentar..." name="comentario" ></textarea>
                    </div>
                    <button type="submit">Publicar</button>
                </form>
            </div>
            <div id="comments"></div>
        </div>
    </div >
    
    <script type="module" src="../js/fileComment.js"></script>
    <script type="module" src="../js/events.js"></script>

</body>
</html>