<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comentarios</title>
    
    <link rel="stylesheet" href="../css/comments.css">
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>

    <header>
        <a href="/inicio" class="p_a">
            <div class="h1">
                <img src="../img/logop.png" alt="">
            </div>
        </a>
        <nav>
            <ul>
                <li class="li"> <a class="la" href="/inicio">Inicio</a></li>
                <li class="li"> <a class="la" href="/my_perfil">Perfil</a></li>
                <li lass="li"><a class="la" href="/message">Message</a></li>
                <li lass="li"><a class="la" href="/logout">Salir</a></li>
            </ul>
        </nav>
    </header>

    <div class="view_img" id="view_img" style="display: none"></div>

    <div id="off" class="container">
        <div data-id="<%=posts.id%>" class="publicacion" id="container"></div>
    
        <div class="coment">
            <div class="divForm">
                <form id="formComment" >
                    <textarea id="comentario" required placeholder="Comentar" name="comentario" ></textarea>
                    <!-- <input id="comentario" type="text" autocomplete="off"  required placeholder="Comentar" name="comentario"> -->
                    <button type="submit">Comentar</button>
                </form>
            </div>
            <div id="comments"></div>
        </div>
    </div >
    
    <script src="../js/fileComment.js"></script>
</body>
</html>