<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guardados</title>
    <link rel="stylesheet" href="../css/guardados.css">
    <link rel="stylesheet" href="../css/view_img.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link href="../lightbox2-master//dist/css/lightbox.min.css" rel="stylesheet" />
</head>
<body>
    <%include header%>

    <div class="view_img" id="view_img" style="display: none"></div>

    <div id="off" class="contenair" >
        <div class="tx">
            <h4><i class="material-icons">bookmarks</i> Fotos guardados</h4>
        </div>
        <div  class="postSave">
            <%for(var c = p_s.length-1; c >=0; c--){%>
                <a href="<%=p_s[c].fotoPost%>" data-lightbox="example-set" class="publicacion">
                    <div class="images">
                        <%if(p_s[c].fotoPost.split('.',2)[1] === "mp4"){%>
                            <video controls class="img_v" src="<%=p_s[c].fotoPost%>"></video>
                        <%}%>
                        <img class="view" data-img_="<%=p_s[c].fotoPost%>" src="<%=p_s[c].fotoPost%>" alt="">
                    </div>
                </a>
            <%}%>
        </div>
    </div>

    <script src="../lightbox2-master/dist/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>