<head>
    <link rel="stylesheet" href="../css/header.css">
</head>

<header>
    <a href="/inicio" class="p">
        <div class="h1">
            <img src="../img/logop.png" alt="">
        </div>
    </a>
    <nav>
        <ul>
            <li class="li"> <a class="la" href="/inicio">Inicio</a></li>
            <li class="li"> <a class="la" href="/my_perfil">Perfil</a></li>
            <li lass="li"><a class="la" href="/message">Mensajeria</a></li>
            <li lass="li"><a class="la" href="/logout">Salir</a></li>
        </ul>
    </nav>
</header>