<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>postLine</title>
</head>
<body>
    <header>
        <a href="/">
            <div class="logo">
                <img src="../img/logo_postLine.png" alt="">
            </div>
        </a>
        <nav>
            <ul>
                <li><a href="/registrar-usuario">Registrar</a></li>
                <li><a href="/iniciar-sesion">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>

    <div class="container_">
        <div class="descripcion">
            <h1>postLine</h1>
            <div class="text">
                <h2>Sobre</h2>
            </div>
            <div class="desc">
                <p>
                    postLine es una red social donde puedes publicar tus contenido de manera facil y rapida,
                    donde tambien podras estar mas conectada con tus seres queridos y conocer personas de todo el mundo
                </p>
                <p>
                    Es una aplicacion web sencilla con las siguientes funciones
                    <li>publicar fotos y videos</li>
                    <li>chatear de forma privada con tus amigos</li>
                    <li>guardar publicaciones en tu cuenta</li>
                    <li>dar like a publicaciones y comentarlas</li>
                </p>
                <p>
                    Diviertete compartiendo tus mejores momentos
                </p>
            </div>
        </div>
    </div>

    <footer>
        <div class="logo1">
            <img src="../img/logop.png" alt="">
        </div>
        <div class="inf">
            <p><strong>Author</strong> Killy Cenecharles</p>
            <p><strong>Email</strong> killycenecharles30@gmail.com</p>
        </div>
    </footer>
</body>
</html>