<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>postLine</title>
    <link rel="icon" href="../img/icon_post.png" type="image/png">
</head>
<body>
    <header>
        <a class="lg" href="/">
            <img src="../img/logo_novo2.png" alt="">
        </a>
        <!-- <nav>
            <ul>
                <li><a href="/registrar-usuario">Registrar</a></li>
                <li><a href="/iniciar-sesion">Iniciar sesion</a></li>
            </ul>
        </nav> -->
    </header>

    <div class="container_">
        <div class="form_login">
            <h2>Iniciar sesion</h2>
            <form action="/iniciar-sesion" method="post">
                <input type="text" name="email" placeholder="nombre de usuario">
                <input type="password" name="password" placeholder="Contraseña">
                <button type="submit">Entrar</button>
            </form>
            
            <p class="link_sign">
                No tienes una cuenta aun <a class="sign" href="/registrar-usuario">Registrate aqui</a>
            </p>
        </div>
    </div>

    <!-- <footer>
        <div class="inf">
            <p><strong>Author</strong> Killy Cenecharles</p>
            <p><strong>Email</strong> killycenecharles30@gmail.com</p>
        </div>
    </footer> -->
</body>
</html>