<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messanger</title>
    <link rel="stylesheet" href="../css/message.css">
    <!-- <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"> -->
</head>
<body>
    <%include header%>

    <div class="view_imgs" id="view_imgs"></div>
    
    <div class="container">
        <div class="box_chat">
            <div class="box_user">
                <div class="name_user">
                    <div class="myUserName">
                        <div class="myUserPic">
                            <div class="imgU">
                                <%if(!user.userFoto){%>
                                    <img src="../userIcon.jpg" >
                                <%}%>
                                <img src="<%=user.userFoto%>" alt="">
                            </div>
                        </div>
                        <div class="myName">
                            <h2 class="myName_1256"><%=user.nombre%></h2>
                        </div>
                    </div>
                    <div class="formSearch">
                        <form id="formSearch">
                            <div class="card_search">
                                <span class="material-icons-outlined">search</span>
                                <input type="text" placeholder="Buscar" name="" id="text_search">
                            </div>
                        </form>
                    </div>
                </div>
                <div id="users_to_chat" data-id="<%=user.id%>" class="users_to_chat">

                </div>
            </div>
            <div class="box_contain_chat">
                <div class="welcome_text img_message">
                    <div class="welcome_card">
                        <div class="card_text_welcome">
                            <span class="material-icons-outlined">near_me</span>
                            <p>Comienza un chat</p>
                        </div>
                    </div>
                </div>
                <!-- <img class="img_message" src="../img/img_mesg.jpg" alt=""> -->
                <div id="contain_chat" class="contain_chat"></div>
                <div class="preView-img" id="preView-img"></div>
                <div class="box_form" style="display: none">
                    <form id="form">
                        <div class="card_text">
                            <textarea id="text_msg" cols="30" placeholder="Escribe un mensaje" rows="10"></textarea>
                            <input type="file" name="image" id="image" class="file_img">
                            <label for="image">
                                <span class="material-icons-outlined">add_photo_alternate</span>
                            </label>
                        </div>
                        <button type="submit" id="btn">
                            <span class="material-icons-outlined">send</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/moment-with-locales.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/message.js"></script>
    <script src="../js/showFiles.js"></script>

</body>
</html>