<head>
    <link rel="stylesheet" href="../css/no_post.css">
</head>
<div class="box_no_post">
    <div class="no_post">
        <div class="icon_post">
            <span class="material-icons-outlined">
                image
            </span>
        </div>
        <p class="text_no_post">No hay post todavia</p>
    </div>
</div>