<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/registrar.css">
</head>
<body>
    <header>
        <a href="/">
            <div class="logo">
                <img src="../img/logo_postLine.png" alt="">
            </div>
        </a>
        <nav>
            <ul>
                <li><a href="/registrar-usuario">Registrar</a></li>
                <li><a href="/iniciar-sesion">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>

    <div class="contenido">
        <div class="p_c">
            <p>Crear cuenta</p>
        </div>
        <% if(registroMessage) { %>
            <div class="registroMessage">
                <p><%=registroMessage%></p>
            </div>
        <% } %>
        <div class="form">
            <form action="/registrar-usuario" method="post">
                <div class="box_input">
                    <input type="text" name="nombre" required placeholder="Ingresa tu nombre y tu Apellido">
                </div>
                <div class="box_input">
                    <input type="email" name="email" required placeholder="Ingresa tu email">
                </div>
                <div class="box_input">
                    <input type="password" name="password" required placeholder="Ingrese tu contraseña">
                </div>
                <button type="submit">Registrar</button>
            </form>
        </div>
        <p>Ya tienes una cuenta?  </p><a href="/iniciar-sesion">Iniciar sesion</a>
    </div>
</body>
</html>