<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="lg" href="/">
            <img src="../img/logo_novo2.png" alt="">
        </a>
    </header>

    <div class="container_">
        <div class="form_login">
            <div class="img_logo">
                <img src="../img/logo8.png" alt="">
            </div>
            <h2>Crear cuenta</h2>
            <% if(registroMessage.length !== 0) { %>
                <div class="registroMessage">
                    <p><%=registroMessage%></p>
                </div>
            <% } %>
            <form action="/registrar-usuario" method="post">
                <input type="text" name="nombre" required placeholder="Nombre y Apellido">
                <input type="text" name="email" required placeholder="nombre de usuario">
                <input type="password" name="password" required placeholder="Ingrese tu contraseña">
                <button type="submit">Registrar</button>
            </form>
            <p>Ya tienes una cuenta? <a href="/">Iniciar sesion</a></p>
        </div>
    </div>
</body>
</html>