<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuarios</title>
    <link rel="stylesheet" href="./css/users.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <%-include('header')%>

    <div class="content">
        <div class="text">
            <h4><i class="material-icons">people_alt</i> Usuarios</h4>
            <div class="formB">
                <form action="">
                    <input id="texto" placeholder="Buscar Usuarios" type="text">
                    <button type="button" id="btn">Buscar</button>
                </form>
            </div>
        </div>
        <div class="user" id="resul"></div>
    </div>

    <script src="../js/app.js"></script>
</body>

</html>