*{
    box-sizing: border-box;

}
:root{
    --text_font: 'Heebo', sans-serif;
    --color_one: #010B40;
    --color_two: #00a2ff;
    --color_three: #3730F2;
    --color_four: #CC0429;
    --color_grey: #686868;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(232, 230, 230);
    font-family: var(--text_font);
}
header{
    width: 100%;
    height: 150px;
    background-color: #000761;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}
.lg{
    width: 25%;
}
.lg img{
    width: 100%;
}

.container_{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.form_login{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #fff;
    border-radius: 10px;
    justify-content: center;
    background-color: #fff;
    padding:50px 30px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.46);
}
.img_logo{
    width: 65px;
}
.img_logo img{
    width: 100%;
}
h2{
    /* margin: 0px; */
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: 400;
    width: 100%;
    margin: 0;
    justify-content: center;
    margin-bottom: 15px;
}
.registroMessage{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.728);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.registroMessage p{
    margin: 0;
    color: white;
    padding: 7px;
}

.iniciarMessage{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.728);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.iniciarMessage p{
    margin: 0;
    color: white;
    padding: 7px;
}

form{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 0;
    padding: 5px 10px;
    border: 1px solid #CCC;
    margin-bottom: 25px;
    font-size: 18px;
    outline-style: none;
}
button{
    width: 100%;
    height: 40px;
    background-color: #000761;
    color: #fff;
    border-radius: 10px;
    border: 0;
    font-weight: 300;
    font-size: 18px;
}

footer{
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: 100px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

footer p{
    color: white;
}



@media only screen and (max-width: 500px){
    header{
        height: 100px;
    }
    .container_{
        margin-top: 50px;
    }
    .form_login{
        width: 90%;
    }

    .lg{
        width: 50%;
        margin-top: 15px;
    }
}