body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}
header{
    width: 100%;
    height: 200px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.lg{
    width: 20%;
}
.lg img{
    width: 100%;
}
nav{
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 10px;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 7px;
}
li a:hover{
    border: 1px solid #fff;
}


.container_{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.descripcion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text{
    width: 100%;
}

h1{
    width: 100%;
    font-size: 60px;
    font-weight: unset;
    margin: 0;
    color: rgb(0, 162, 255);
}
.con_uno{
    width: 35%;
    display: flex;
    background-color: #ffff;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px -5px;
}
.con_uno p{
    width: 90%;
    font-size: 30px;
    margin: 0;
}
.img_in{
    width: 600px;
    height: 600px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    box-shadow: 1px 1px 10px -5px;
}
.img_in img{
    width: 100%;
    object-fit: contain;
}
.fgh{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.fgh h2{
    font-size: 55px;
    font-weight: unset;
    color: rgb(78, 0, 151);
    text-align: center;
}

.desc{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.desc img{
    width: 100%;
}
.de{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.de p{
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
}
.ing{
    margin-top: 15px;
    width: 100%;
}
.ing li{
    font-size: 22px;
    text-align: left;
    color: rgb(90, 90, 90);
}

footer{
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: 100px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.logo1{
    width: 60px;
    margin-right: 10px;
}
.logo1 img{
    width: 100%;
}
footer p{
    color: white;
}



@media only screen and (max-width: 500px){
    header{
        background-color: rgb(46, 46, 46);
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .lg{
        width: 50%;
        margin-top: 15px;
    }
    li a{
        font-size: 13px;
    }
    ul{
        padding: 0;
    }


    .img_in{
        width: 100%;
        height: 500px;
        border-radius: 0%;
        background-color: rgb(231, 229, 229);
        display: flex;
        align-items: flex-start;
    }
    .con_uno{
        width: 100%;
        border-radius: 0px;
    }
    .con_uno p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .text{
        margin: 15px 0 15px 0;
    }
    h1{
        font-size: 40px;
        
    }

   
    .de p{
        font-size: 19px;
        margin: 0;
    }
    .ing{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .ing li{
        font-size: 17px;
    }

    .fgh{
        margin-top: 40px;
    }
    .fgh h2{
        text-align: center;
        font-size: 25px;
    }

    .desc{
        height: 200px;
        align-items: flex-start;
    }
    .desc img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}