body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenido{
    width: 400px;
    height: 250px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px -5px;
}
.p_c{
    width: 100%;
    background-color: rgb(46, 46, 46);
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    align-self: flex-start;
}
.p_c p{
    margin: 0;
}
.iniciarMessage{
    font-family: sans-serif;
    width: 90%;
    background-color: rgba(255, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.iniciarMessage p{
    margin: 0;
    color: white;
}
.form{
    width: 90%
}
input{
    width: 100%;
    border: 0;
    outline-style: none;
    height: 30px;
    border-radius: 8px;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 17px;
}
.box_input{
    width: 100%;
    border: 1px solid rgb(124, 124, 124);
    margin-bottom: 5px;
    border-radius: 7px;
}
button{
    width: 100%;
    background-color: rgb(2, 170, 2);
    border: none;
    color: #fff;
    font-family: sans-serif;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 7px;
    height: 30px;
    font-size: 20px;
}
a{
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    margin: 5px 5px;
}
h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight:100;
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 10px;
    margin-top: 0;
}



@media only screen and (max-width: 500px){
    .contenido{
        width: 95%;
        height: 240px;
        margin-top: 120px;
    }
}