body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    width: 90%;
    display: flex;
    justify-content: center;
}

.box_chat{
    width: 95%;
    height: 90%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_user{
    width: 30%;
    height: 95%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.box_contain_chat{
    width: 65%;
    height: 95%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -5px;
    overflow: hidden;
}
.img_message{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain_chat{
    width: 100%;
    height: 90%;
}
.box_form{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    /* background-color: rgb(24, 24, 24); */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    border-top: 1px solid rgb(145, 145, 145);
}
.box_form form{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_form form button{
    background-color: #073ef2;
    border: 0;
    outline: none;
    height: 35px;
    width: 15%;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
}
textarea{
    width: 80%;
    height: 35px;
    min-height: 30px;
    max-height: 50px;
    font-family: sans-serif;
    border-radius: 50px;
    border: 0.5px solid rgb(145, 145, 145);
    resize: none;
    padding: 5px 10px 5px 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}
.name_user{
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}
.myUserName{
    width: 100%;
    height: 55%;
    display: flex;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    color: rgb(34, 34, 34);
    align-items: center;
}
.myUserPic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(172, 170, 170);
}
.imgU{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
}
.imgU img{
    width: 100%;
    
}
.myName{
    width: 70%;
    padding-left: 5px;
}
.myName p{
    margin: 0;
    width: 100%;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #073ef2;
}
.formSearch{
    width: 100%;
    height: 43%;
}
.formSearch form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e00b1;
}
.formSearch input{
    width: 95%;
    height: 32px;
    border-radius: 9px;
    outline: none;
    padding: 5px;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.users_to_chat{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    padding-top: 10px;
    box-sizing: border-box;
}

.ubs{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}
.ubs:hover{
    background-color: rgb(231, 231, 231);
    color: rgb(255, 255, 255);
}
.chat_name{
    width: 97%;
    height: 100%;
    display: flex;
    text-decoration: none;
    padding: 7px;
    box-sizing: border-box;
    border-bottom: 0.7px solid rgb(231, 231, 231);
    align-items: center;
}
.userFotoSelect{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(172, 170, 170);
    overflow: hidden;
}
.userFotoSelect img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contentUserSelect{
    width: 85%;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}
.userNameSelect{
    font-family: sans-serif;
    margin: 0;
    color: rgb(31, 31, 31);
}
.oldMessage{
    color: rgb(83, 83, 83);
    margin: 0;
    padding-top: 5px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 15px;
    height: 20px;
    font-weight: normal;
    display: flex;
    width: 100%;
}
.oldMessage p{
    margin: 0;
    width: 75%;
}
.hora{
    font-family: sans-serif;
    font-size: 12px;
    width: 25%;
}
.box{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}
.header{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    background-color: #ffffff;
    font-family: sans-serif;
    border-bottom: 0.5px solid #bdbdbd;
}
.fn{
    width: 50%;
    display: flex;
    margin-left: 7px;
    align-items: center;
}
.t_n{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 60%;
    padding-top: 5px;
    box-sizing: border-box;
}
.t_n a{
    text-decoration: none;
}
.user_typping{
    color: rgb(202, 0, 0);
    width: 100%;
    transition: 1s;

}
.name_u{
    display: flex;
    align-self: flex-start;
    font-weight: bold;
    color: #073ef2;
    font-size: 18px;
}
.fn p{
    margin: 0;
}
.fotoUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    background-color: rgb(172, 170, 170);
}
.fotoUser img{
    width: 100%;
}
.ue{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    padding-right: 20px;
    box-sizing: border-box;
    justify-content: flex-end;
    color: rgb(78, 78, 78);
}


#message{
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    padding-top: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    background-color: rgb(231, 231, 231);
}
.box_message{
    width: 100%;
    margin-bottom: 10px;
}
.opklo{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    flex-wrap: wrap;
}
.vista{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.vista p{
    margin: 0;
    color: rgb(85, 85, 85);
    font-size: 14px;
}
.opklo span{
    max-width:  60%;
    padding: 8px 13px;
    box-sizing: border-box;
    border-radius: 11px;
    font-family: sans-serif;
    background-color: rgb(255, 251, 251);
    color: rgb(29, 29, 29);
    display: flex;
    flex-wrap: wrap;
}
.opklo span p{
    display: flex;
    margin: 0;
    margin-right: 7px;
}
.opkl{
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}
.opkl span{
    background-color: #4a00d1;
    border-radius: 11px;
    max-width:  60%;
    padding: 8px 13px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}
.opkl span p{
    display: flex;
    margin: 0;
    margin-right: 7px;
    justify-self: flex-start;
}
.horas{
    color: rgb(97, 97, 97);
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
}
.horas_u{
    color: rgb(214, 214, 214);
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}
.view_msg{
    font-weight: bolder;
    color: #e20000;
}




@media only screen and (max-width: 500px){
    .container{
        width: 100%;
    }
    .box_chat{
        width: 100%;
        margin-top: 50px;
    }
    .box_user{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .header{
        width: 100%;
        height: 12%;
        border-top-left-radius:0px;
        border-top-right-radius: 0px;
    }
    .box_form{
        height: 10%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .box_form form{
        width: 95%;
    }
    .myUserName{
        width: 100%;
        height: 55%;
    }
    .myName p{
        font-size: 17px;
    }
    textarea{
        width: 78%;
    }
    .box_contain_chat{
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 0px;
    }
    .fn{
        width: 90%;
        display: flex;
        margin-left: 7px;
        align-items: center;
    }
    .ue samp{
        display: none;
    }
    .box_form form{
        width: 95%;
    }
    .box_form form button{
        height: 30px;
        width: 20%;
        font-size: 15px;
    }
    
    .user_typping{
        font-size: 13px;
    }
    .atras{
        display: flex;
        text-decoration: none;
        padding: 7px;
        background-color: rgb(179, 0, 0);
        color: #fff;
        border-radius: 7px;
    }

    .opkl span{
        max-width:  80%;
    }
    .opklo span{
        max-width:  80%;
    }
}