body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
}

h1{
  margin: 0; 
 
}
.content{
  width: 70%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.cabecera{
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px -5px;
}
.portada{
  width: 100%;
  height: 250px;
  background-color: rgb(51, 51, 51);
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
}
.foto{
  width: 340px;
  height: 340px;
  margin-top: -180px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(51, 51, 51);
  border-radius: 50%;
  overflow: hidden;
}
.imgPerfil{
  width: 100%;
  object-fit: cover;
}
.name{
  width: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0 20px 0;
}
.h2{
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}
.name p{
  margin: 0;
  font-size: 20px;
  color: #5a5a5a;
}
.name h3{
  font-weight: unset;
}
h3{
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: #5a5a5a;
}
.more{
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
}
.nav_p{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_p a{
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #313131;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
.nav_p a:hover{
  background-color: #313131;
  border-radius: 8px;
  color:#fff;
}
.nav_p a i{
  margin-right: 5px;
  font-size: 25px;
}

.espace{
  width: 100%;
  height: 10px;
}



.info{
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px -5px;
}
.datos{
  display: flex;
  flex-wrap: wrap;
}
.gh{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.gh p{
  margin: 0 0 0 5px;
}
.fhk{
  font-weight: bold;
  margin-right: 5px;
  color: #313131;
}




.publicaciones{
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px -5px;
}
.head_{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
.head_p{
  width: 100%;
  height: 50px;
  margin-bottom: 13px;
}
.head_ a{
  display: none;
  text-decoration: none;
}
.head_ p{
  margin: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(0, 110, 255, 0.596);
}
.head_p p{
  margin: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(0, 110, 255, 0.596);
}
.box_publicacion{
  width: 24%;
  /* height: 300px; */
  border: 0.5px solid #ddd;
  display: flex;
  margin-bottom: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  
}
.eliminar{
  position: absolute;
  z-index: 1;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  color: rgb(218, 3, 3);
  border-radius: 7px;
  display: flex;
  align-items: flex-end;
}
.eliminar:hover{
  background-color: rgb(219, 0, 0);
  color: #fff;
}
.imgPost{
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
view{
  cursor: pointer;
}
.t_d{
  width: 100%;
  font-family: sans-serif;
}
.t_d p{
  margin: 0;
}
.box_img{
  width: 100%;
  max-height: 300px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1%;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px){
  .content{
    width: 98%;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .cabecera{
    height: 370px;
    margin-bottom: 10px;
  }
  .portada{
    height: 200px;
  }
  .foto{
    width: 200px;
    height: 200px;
    margin-top: -130px;
  }
  .imgPerfil{
    width: 100%;
    object-fit: cover;
  }
  .name{
   margin-bottom: 25px;
  }
  .more{
    display: none;
  }
  .espace{
    height: 0px;
  }
  .box_publicacion{
    width: 31%;
    height: 130px;
    
  }
  .eliminar{
    margin-top: 5px;
    margin-left: 7px;
    padding: 5px;
    color: rgb(218, 3, 3);
    border-radius: 3px;
    font-size: 13px;
    display: flex;
    align-items: flex-end;
  }
  .eliminar i{
    font-size: 18px;
  }

  .head_{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head_ a{
    display: flex;
    width: 50%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(31, 31, 31);
  }
  .head_ p{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(0, 110, 255, 0.596);
  }
}