
body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  font-family: sans-serif;
}

h1{
  margin: 0; 
 
}
.content{
  width: 1000px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px;
}
.cabecera{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card_profile_img{
  margin-top: 70px;
  position: relative;

}
.foto{
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.add_profile{
  position: absolute;
  right: 0;
  bottom: 20px;
  color: #ffffff;
  background-color:var(--color_two);
  padding: 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
}
.add_profile span{
  font-size: 17px;
  
}
.imgPerfil{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_name{
  width: 96%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 15px 0;
}
.name_user{
  margin: 0;
  font-family: var(--name_user_font);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}
.user_link{
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: rgb(110, 110, 110);
  font-family: var(--name_user_font);
  font-weight: 300;
}
.follow p{
  margin: auto;
  font-size: 17px;
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: center;
}


.more{
  width: 96%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}
.nav_p a{
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #00a2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.info{
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.bio{
  width: 100%;
}
.bio p{
  text-align: center;
  font-family: var(--name_user_font);
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}



.in{
  display: grid;
  display: grid;
  width: 100%;
  height: 55px;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgba(177, 177, 177, 0.8);
  border-top: 1px solid rgba(177, 177, 177, 0.8);
  align-items: center;
}
.movil_follow:nth-child(2n+2){
  border-left: 1px solid rgba(177, 177, 177, 0.8);
  border-right: 1px solid rgba(177, 177, 177, 0.8);
}
.movil_follow p{
  margin: 0;
  text-align: center;
  font-size: 17px;
}
.n_x623{
  font-family: var(--name_user_font);
  font-weight: 500;
}
.n_x542{
  color: rgba(143, 143, 143, 0.8);
  font-family: var(--name_user_font);
  font-weight: 300;
}

.datos{
  display: flex;
  flex-wrap: wrap;
}
.gh{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.gh p{
  margin: 0 0 0 5px;
}
.fhk{
  font-weight: bold;
  margin-right: 5px;
  color: #313131;
}




.publicaciones{
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
}
.box{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.box_publicacion{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}
.img_post{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.box_img{
  width: 100%;
  max-height: 300px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.post_menu{
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 7px;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  background-color: rgba(10, 10, 10, 0.637);
  cursor: pointer;
}
.body_post_menu{
  display: none;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 7px;
  background-color: rgba(10, 10, 10, 0.726);
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.body_post_menu a{
  color: #fff;
  text-decoration: none;
  font-family: var(--name_user_font);
  font-weight: 300;
}

.display{
  display: flex;
  transition: 0.3s;
}

.imgPost{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
view{
  cursor: pointer;
}
.t_d{
  width: 100%;
  font-family: sans-serif;
}
.t_d p{
  margin: 0;
}

/* laptop */
@media only screen and (max-width: 1024px){
  .content{
    width: 90%;
  }
  .foto{
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 780px){
  .content{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .box_publicacion{
    width: 100%;
    height: 200px;
    margin-bottom: 3px;
  }
  
}

/* phone */
@media only screen and (max-width: 500px){
  .content{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .cabecera{
    height: 175px;
    /* margin-bottom: 10px; */
  }
  .card_profile_img{
    margin-top: 15px;
    position: relative;
  
  }
  .foto{
    width: 100px;
    height: 100px;
    /* margin-top: 15px; */
  }
  .imgPerfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .user_name{
   width: 100%;

  }
  .name_1 {
    width: 100%;
  }
  .name_user{
    margin: 0;
    font-size: 17px;
  }

  .bio p{
    margin: 0;
    font-size: 14px;
  }

  .follow{
    display: none;
  }

  .box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
  }
  .box_publicacion{
    width: 100%;
    height: 115px;
    margin-bottom: 3px;
  }
  
  .imgPost{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    cursor: pointer;
  }


  
  .more{
    display: none;
  }
  .info{
    width: 95%;
  }
  h3{
    font-size: 18px;
  }
  .in{
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid rgba(177, 177, 177, 0.8);
    border-top: 1px solid rgba(177, 177, 177, 0.8);
    margin-top: 10px;
    align-items: center;
  }
 
  .movil_follow:nth-child(2n+2){
    border-left: 1px solid rgba(177, 177, 177, 0.8);
    border-right: 1px solid rgba(177, 177, 177, 0.8);
  }
  .movil_follow p{
    margin: 0;
    text-align: center;
    font-size: 14px;
  }
  .n_x623{
    font-family: var(--name_user_font);
    font-weight: 500;
  }
  .n_x542{
    color: rgba(143, 143, 143, 0.8);
    font-family: var(--name_user_font);
    font-weight: 300;
  }


  .publicaciones{
    width: 98%;
  }
  
  

  .eliminar{
    display: none;
    /* margin-top: 5px;
    margin-left: 7px;
    padding: 5px;
    color: rgb(218, 3, 3);
    border-radius: 3px;
    font-size: 13px;
    display: flex;
    align-items: flex-end; */
  }
  .eliminar i{
    font-size: 18px;
  }

  .head_{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head_ a{
    display: flex;
    width: 50%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(31, 31, 31);
  }
  .head_ p{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(0, 110, 255, 0.596);
  }
}