body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  font-family: sans-serif;
}

h1{
  margin: 0; 
 
}
.content{
  width: 1250px;
  background-color: #fff;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.cabecera{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.foto{
  width: 150px;
  height: 150px;
  margin-top: 70px;
  /* background-color: #000761; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid #000761; */
  border-radius: 50%;
  overflow: hidden;
}
.imgPerfil{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_name{
  width: 96%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
}
.users_name{
  margin: 0;
  font-family: var(--name_user_font);
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.user_link{
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: rgb(110, 110, 110);
  font-family: var(--name_user_font);
  font-weight: 400;
}
.follow p{
  margin: auto;
  font-size: 17px;
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: center;
}






.info{
  width: 70%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.bio{
  width: 100%;
  margin-bottom: 20px;
}
.bio p{
  margin: 0;
  text-align: center;
  font-family: var(--name_user_font);
  font-weight: 300;
  font-size: 17px;
}


.btn_follow{
  outline: 0;
  /* border: 2px solid #00a2ff; */
  color: #fff;
  background-color: #00a2ff;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 25px;
  transition: 0.5s;
  font-family: var(--name_user_font);
}


.in{
  display: grid;
  width: 100%;
  height: 55px;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgba(177, 177, 177, 0.8);
  border-top: 1px solid rgba(177, 177, 177, 0.8);
  margin-top: 10px;
  align-items: center;
}

.movil_follow:nth-child(2n+2){
  border-left: 1px solid rgba(177, 177, 177, 0.8);
  border-right: 1px solid rgba(177, 177, 177, 0.8);
}
.movil_follow p{
  margin: 0;
  text-align: center;
  font-size: 17px;
}
.n_x623{
  font-family: var(--name_user_font);
  font-weight: 500;
}
.n_x542{
  color: rgba(143, 143, 143, 0.8);
  font-family: var(--name_user_font);
  font-weight: 400;
}


.publicaciones{
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box_post{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
   
}

.box_publicacion{
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
    
}
/* .box_publicacion:nth-col{
    margin-right: 2%;
} */
/* .box_publicacion:nth-child(3n+2){
    margin-right: 2%;
    margin-left: 2%;
} */



.img_post{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;

}
.box_img{
  width: 100%;
  max-height: 300px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.imgPost{
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.eliminar{
  position: absolute;
  z-index: 1;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  color: rgb(218, 3, 3);
  border-radius: 7px;
  display: flex;
  align-items: flex-end;
}
.eliminar:hover{
  background-color: rgb(219, 0, 0);
  color: #fff;
}

view{
  cursor: pointer;
}
.t_d{
  width: 100%;
  font-family: sans-serif;
}
.t_d p{
  margin: 0;
}

/* laptop */
@media only screen and (max-width: 1024px){
  .content{
    width: 90%;
  }
  .foto{
    width: 120px;
    height: 120px;
  }
  
}

@media only screen and (max-width: 780px){
  .content{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .box_post{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .box_publicacion{
    width: 100%;
    height: 200px;
    margin-bottom: 3px;
  }
  
}


@media only screen and (max-width: 500px){
  .content{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .cabecera{
    height: 175px;
    /* margin-bottom: 10px; */
  }
  .foto{
    width: 100px;
    height: 100px;
    margin-top: 15px;
  }
  .imgPerfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .user_name{
   width: 100%;

  }
  .name_1 {
    width: 100%;
  }
  .h2{
    font-size: 18px;

  }
  .bio{
    
    margin-bottom: 5px;
  }
  .bio p{
    margin: 0;
    font-size: 14px;
  }

  .follow{
    display: none;
  }
  .info{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .btn-follow{
    margin: 10px;
  }
  .in{
    width: 96%;
    margin-bottom: 10px;
  }
  .movil_follow{
    
  }
  .movil_follow p{
    font-size: 14px;
  }

  .box_post{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    padding-top: 0;
    border-top: none;
  }
 
  .publicaciones{
    width: 98%;
  }
  .box_publicacion{
    width: 100%;
    height: 115px;
    margin-bottom: 3px;
    
  }
  .box_publicacion:nth-child(3n+2){
    margin-right: 0%;
    margin-left: 0%;
  }
  .imgPost{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    cursor: pointer;
  }


  .eliminar{
    margin-top: 5px;
    margin-left: 7px;
    padding: 5px;
    color: rgb(218, 3, 3);
    border-radius: 3px;
    font-size: 13px;
    display: flex;
    align-items: flex-end;
  }
  .eliminar i{
    font-size: 18px;
  }

  .head_{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head_ a{
    display: flex;
    width: 50%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(31, 31, 31);
  }
  .head_ p{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(0, 110, 255, 0.596);
  }
}