body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.container_{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.registroMessage{
    font-family: sans-serif;
    width: 90%;
    background-color: rgba(255, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.registroMessage p{
    margin: 0;
    color: white;
}
.form_login{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    border-radius: 10px;
    justify-content: center;
}
h2{
    margin: 0px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
form{
    width: 380px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
input{
    width: 100%;
    border: 0;
    outline-style: none;
    height: 30px;
    border-radius: 8px;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 17px;
}
.box_input{
    width: 100%;
    border: 1px solid rgb(128, 128, 128);
    margin-bottom: 5px;
    border-radius: 7px;
}
button{
    width: 100%;
    background-color: rgb(2, 170, 2);
    border: none;
    color: #fff;
    font-family: sans-serif;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 7px;
    height: 30px;
    font-size: 20px;
}
a{
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    margin: 0px 7px 0px 0px;
}
h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight:100;
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 10px;
    margin-top: 0;
}




@media only screen and (max-width: 500px){
    .contenido{
        width: 95%;
        height: 240px;
        margin-top: 120px;
    }
}