body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgb(240, 240, 240); */
    font-family: sans-serif;
}
.container{
    width: 1000px;
    margin-top: 70px;
}
.header_explore{
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    display: flex;
    align-self:flex-start;
    font-size: 23px;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding-bottom: 5px;
    box-sizing: border-box;
}
h5{
    margin: 0;
}
.explore{
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
   

}

.each_post{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s;
}
.each_post:first-child{
    width: 100%;
    height: 400px;
    grid-column: 1 / span 3;
}
.each_post:nth-child(3n+3){
    grid-column: span 2;
}
.each_post:hover{
    filter: opacity(0.6);
    transition: 0.3s;
}
.post{
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
    height: 100%;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
















/* 
.users{
    width: 31%;
    height: 75px;
    border: 0.5px solid #eee;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px -5px;
}



.formB{
    width: 50%;
    height: 100%;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
input{
    width: 50%;
    height: 30px;
    outline: none;
    border-radius: 7px;
    margin-right: 8px;
    border: none;
    padding: 5px 9px;
    box-sizing: border-box;
}
button{
    width: 15%;
    height: 30px;
    font-family: sans-serif;
    background-color: rgb(2, 170, 2);
    color: white;
    outline: none;
    border: none;
    border-radius: 7px;
}
.user_a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(2, 170, 2);
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.img{
    width: 60px;
    object-fit:cover;
}
.divImg{
    width: 55px;
    height: 55px;
    overflow: hidden;
    display: flex;
    margin-right: 5px;
    background-color: #ddd;
    border-radius: 50%;
}

.text h4{
    margin: 0;
    display: flex;
    align-items: center;
}
.text h4 i{
    font-size: 30px;
} */


@media only screen and (max-width: 1024px){
    .container{
      width: 90%;
    }
}

@media only screen and (max-width: 780px){
    .container{
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
    .explore{
        gap: 10px;
    }
    .each_post{
        height: 200px;
        /* border-radius: 10px; */
    }
}


@media only screen and (max-width: 500px){
    .container{
        width: 98%;
        margin-top: 50px;
    }
    .explore{
        gap: 5px;
    }
    .each_post{
        height: 130px;
        border-radius: 10px;
    }
    .each_post:first-child{
        height: 250px;
    }
    .text h4{
        font-size: 18px;
    }
    .formB{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    input{
        width: 100%;
    }
    button{
        display: none;
    }
    .users{
        width: 100%;
    }
}