body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
}
.users{
    width: 23%;
    height: 75px;
    border: 0.5px solid #eee;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
}
.content{
    width: 90%;
    margin-top: 150px;
}
.user{
    width: 100%;
    display: flex;
}
.formB{
    width: 50%;
    height: 100%;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
input{
    width: 50%;
    height: 30px;
    outline: none;
    border-radius: 7px;
    margin-right: 8px;
    border: none;
    padding: 5px 9px;
    box-sizing: border-box;
}
button{
    width: 15%;
    height: 30px;
    font-family: sans-serif;
    background-color: rgb(2, 170, 2);
    color: white;
    outline: none;
    border: none;
    border-radius: 7px;
}
.user_a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(2, 170, 2);
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.img{
    width: 60px;
    object-fit:cover;
}
.divImg{
    width: 55px;
    height: 55px;
    overflow: hidden;
    display: flex;
    margin-right: 5px;
    background-color: #ddd;
    border-radius: 50%;
}
.text{
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    display: flex;
    align-self:flex-start;
    font-size: 23px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}
.text h4{
    margin: 0;
}





@media only screen and (max-width: 500px){
    .content{
        width: 98%;
        margin-top: 100px;
    }
    .text h4{
        font-size: 18px;
    }
    .formB{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    input{
        width: 100%;
    }
    button{
        display: none;
    }
    .users{
        width: 100%;
    }
}